body {
    background-color: #c6924e;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

.clicker {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.submit-button {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.btndanger {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

div {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.title {
    color: #189d18;
}

.img {
    max-width: 50%;
}